# Ambiente virtual
venv/

# Ignorar arquivos compilados do Python
*.pyc
*.pyo
__pycache__/
**/__pycache__/

# Ignorar arquivos de configuração do PyCharm
.idea/

# Arquivos de ambiente
# .env

# Cache do MyPy
.mypy_cache/

# Cache do Pytest
.pytest_cache/

# Cobertura HTML
htmlcov/
.coverage

# Logs
logs/

# Ambiente virtual alternativo
.venv/

# Dados de notas fiscais (evitar subir dados sensíveis)
data/
