# Ambiente virtual
venv/

# Ignorar arquivos compilados do Python
*.pyc
*.pyo
__pycache__/
**/__pycache__/

# Ignorar arquivos de configuração do PyCharm
.idea/

# Cache do MyPy
.mypy_cache/

# Cache do Pytest
.pytest_cache/

# Logs
logs/

# Ambiente virtual alternativo
.venv/
