# Ambiente virtual
.venv/
venv/

# Arquivos compilados do Python
*.pyc
*.pyo
__pycache__/
**/__pycache__/

# Arquivos de configuração do PyCharm
.idea/

# Cache
.mypy_cache/
.pytest_cache/

# Pastas
logs/
reports/