black
ecs-logging
fastapi
flake8
greenlet
oracledb
isort
locust==2.31.0
matplotlib==3.10.9
mypy
pandas==3.0.2
pydantic
pydantic-settings
python-dotenv
pylance
pylint
sqlalchemy[asyncio]
strawberry-graphql[fastapi]
tabulate==0.10.0
uvicorn
