black
ecs-logging
fastapi
flake8
greenlet
oracledb
isort
locust==2.43.4
matplotlib==3.10.9
mypy
orjson==3.11.9
pandas==3.0.2
pydantic
pydantic-settings
python-dotenv
pylance
pylint
pytest
sqlalchemy[asyncio]
strawberry-graphql[fastapi]
tabulate==0.10.0
uvicorn